body {
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inner-container {
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(201, 201, 201);
}

textarea {
    resize: none;
}

label {
    display: block;
}

.email-div {
    margin: 0 1em;
}

.upper-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    margin: 0 auto;
}

button {
    transition: transform 100ms 100ms;
    width: 12em;
    outline: none;
    border-radius: 1em;
    height: 3em;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
}
  
button:hover {
    transform: scale(1.1, 1.2);
}

textarea {
    width: 100%;
    height: 10em;
}

input, textarea {
    outline: none;
}

@media screen and (max-width: 690px) {
    .upper-inputs {
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
    }   

    .inner-container {
        width: 100%;
    }

    textarea, input {
        width: 100%;
    }

    .email-div {
        margin: initial;
    }

    button {
        width: 9em;
        height: 2em;
    }
}
